{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<form id="trigger" action="{{ actionurl }}" method="post">
    {% csrf_token %}
    {{ triggerform }}

    <fieldset>
        <legend>Conditions</legend>

        <div id="conditions">

            {{ rangeformset.management_form }}

            {% for form in rangeformset %}
                {% partialdef rangeformset inline %}
                    <fieldset class="numericrangecondition deleteable transition-opacity">
                        <legend>Numeric range</legend>
                        {{ form }}
                    </fieldset>
                {% endpartialdef %}
            {% endfor %}

            {% with form=rangeformset.empty_form %}
                <template id="numericrangecondition-template">{% partial rangeformset %}</template>
            {% endwith %}

            {{ booleanformset.management_form }}

            {% for form in booleanformset %}
                {% partialdef booleanformset inline %}
                    <fieldset class="booleancondition deleteable transition-opacity">
                        <legend>Boolean</legend>
                        {{ form }}
                    </fieldset>
                {% endpartialdef %}
            {% endfor %}

            {% with form=booleanformset.empty_form %}
                <template id="booleancondition-template">{% partial booleanformset %}</template>
            {% endwith %}

            {{ equalityformset.management_form }}

            {% for form in equalityformset %}
                {% partialdef equalityformset inline %}
                    <fieldset class="equalitycondition deleteable transition-opacity">
                        <legend>Equality</legend>
                        {{ form }}
                    </fieldset>
                {% endpartialdef %}
            {% endfor %}

            {% with form=equalityformset.empty_form %}
                <template id="equalitycondition-template">{% partial equalityformset %}</template>
            {% endwith %}
        </div>

        <ul>
            <li><a class="fieldset-add" template="numericrangecondition-template" parentnode="conditions" counter="id_{{ rangeformset.prefix }}-TOTAL_FORMS">Add numeric range condition</a></li>
            <li><a class="fieldset-add" template="booleancondition-template" parentnode="conditions" counter="id_{{ booleanformset.prefix }}-TOTAL_FORMS">Add boolean condition</a></li>
            <li><a class="fieldset-add" template="equalitycondition-template" parentnode="conditions" counter="id_{{ equalityformset.prefix }}-TOTAL_FORMS">Add equality condition</a></li>
        </ul>
    </fieldset>

    <div id="telescope-selector" class="hidden">
        <label for="telescope-selector">Telescope configuration:</label>
        <select>
            <option value="">&mdash;</option>
            <option value="mwa-telescope">MWA Correlator</option>
            <option value="mwagw-telescope">MWA Gravitational Wave</option>
            <option value="mwavcs-telescope">MWA VCS</option>
            <option value="atca-telescope">ATCA</option>
        </select>
        <div class="helptext">Choose a downstream telescope configuration.</div>
    </div>

    <div id="telescopes">
        {{ mwaformset.management_form }}

        {% for form in mwaformset %}
            {% partialdef mwa inline %}
                <fieldset id="mwa-telescope" class="telescope" data-formset-prefix="{{ mwaformset.prefix }}">
                    <legend>MWA Correlator</legend>
                    {{ form }}
                </fieldset>
            {% endpartialdef %}
        {% endfor %}

        {% with form=mwaformset.empty_form %}
            <template id="mwa-telescope-template">{% partial mwa %}</template>
        {% endwith %}

        {{ mwagwformset.management_form }}

        {% for form in mwagwformset %}
            {% partialdef mwagw inline %}
                <fieldset id="mwagw-telescope" class="telescope" data-formset-prefix="{{ mwagwformset.prefix }}">
                    <legend>MWA GW</legend>
                    {{ form }}
                </fieldset>
            {% endpartialdef %}
        {% endfor %}

        {% with form=mwagwformset.empty_form %}
            <template id="mwagw-telescope-template">{% partial mwagw %}</template>
        {% endwith %}

        {{ mwavcsformset.management_form }}

        {% for form in mwavcsformset %}
            {% partialdef mwavcs inline %}
                <fieldset id="mwavcs-telescope" class="telescope" data-formset-prefix="{{ mwavcsformset.prefix }}">
                    <legend>MWA VCS</legend>
                    {{ form }}
                </fieldset>
            {% endpartialdef %}
        {% endfor %}

        {% with form=mwavcsformset.empty_form %}
            <template id="mwavcs-telescope-template">{% partial mwavcs %}</template>
        {% endwith %}

        {{ atcaformset.management_form }}

        {% for form in atcaformset %}
            {% partialdef atca inline %}
                <fieldset id="atca-telescope" class="telescope" data-formset-prefix="{{ atcaformset.prefix }}">
                    <legend>ATCA</legend>
                    {{ form }}

                    {{ form.nested.management_form }}

                    {% for form in form.nested %}
                        {% include "tracet/forms/errors.html" with form=form %}
                    {% endfor %}

                    <table>
                        <thead>
                            <tr>
                            {% for field in form.nested.empty_form %}
                                {% if not field.is_hidden %}
                                <th>{{ field.label }}</th>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody id="{{ form.nested.prefix }}-PARENT">
                            {% for form in form.nested %}
                                {% partialdef atcaband inline %}
                                    <tr class="atcaband deleteable transition-opacity">
                                        {% for field in form %}
                                            {% if field.is_hidden %}
                                                {{ field }}
                                            {% else %}
                                                <td class="field-{{ field.name }}">{{ field }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endpartialdef %}
                            {% endfor %}
                        </tbody>
                    </table>

                    <ul class="help-text">
                        {% for field in form.nested.empty_form %}
                        {% if field.help_text %}
                            <li><strong>{{field.label }}</strong> {{ field.help_text }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                    <template id="{{ form.nested.prefix }}-template">
                        {% with form=form.nested.empty_form %}
                            {% partial atcaband %}
                        {% endwith %}
                    </template>

                    <ul>
                        <li><a class="fieldset-add" template="{{ form.nested.prefix }}-template" parentnode="{{form.nested.prefix}}-PARENT" counter="id_{{ form.nested.prefix }}-TOTAL_FORMS">Add a band configuration</a></li>
                    </ul>
                </fieldset>
            {% endpartialdef atca %}
        {% endfor %}

        {% with form=atcaformset.empty_form %}
            <template id="atca-telescope-template">{% partial atca %}</template>
        {% endwith %}
    </div>

    <div class="submits">
        <input type="submit" value="Save">
        {% if trigger.id %}
            <input type="submit" formaction="{% url 'triggerdelete' id=trigger.id %}" value="Delete" onclick="return confirm('Are you sure you want to delete this trigger?')">
        {% endif %}
    </div>
</div>
</form>
{% endblock %}