{% extends "base.html" %}

{% load rules %}

{% block title %}Trigger {{ trigger.id }}{% endblock %}

{% block content %}

{% has_perm "tracet.change_trigger" user trigger as can_edit %}
{% has_perm "tracet.retrigger_trigger" user trigger as can_retrigger %}

<div class="heading-label">Trigger</div>
{% if trigger.active %}<div class="trigger-active">Active</div>{% else %}<div class="trigger-inactive">Inactive</div>{% endif %}
<h1>{{ trigger.name }}</h1>

<div id="trigger-meta">
    <span><strong>Author</strong> &nbsp; {{ trigger.user.username }}</span>
    <span><strong>Created</strong> &nbsp; {{ trigger.created | date:"Y-M-d" }}</span>
    {% if can_edit %}
        <a href="{% url 'triggeredit' id=trigger.id %}">Edit trigger</a>
    {% endif %}
</div>

<h2>Streams</h2>

<ul>
    {% for stream in trigger.streams.all %}
    <li><code>{{ stream }}</code></li>
    {% endfor %}
</ul>

<h2>Selectors</h2>

<ul display: table;>
    <li><strong style="display: inline-block; min-width: 8rem">Group ID path:</strong> <code>{{ trigger.groupby }}</code></li>
    <li><strong style="display: inline-block; min-width: 8rem">Time path:</strong> <code>{{ trigger.time_path }}</code></li>
</ul>

<h2>Conditions</h2>

<ul>
    {% for condition in conditions %}
    <li><code>{{ condition }}</code></li>
    {% endfor %}
</ul>

<hr>

<h2>Events</h2>

{% for event in events %}
<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 1rem;">
    <h3 id="eventid-{{ event.groupid }}" style="display: inline-block;">ID: {{ event.groupid }}</h3>

    <p style="display: inline-block; width: unset;">{{ event.time | date:"Y-M-d G:i:s e" }}</p>

    {% if can_retrigger %}
        <form method="post" style="display: inline-block; min-width: unset; padding: 0; border: none;">
            {% csrf_token %}
            {{ event.form }}
            <input style="padding: 0.2rem 0.4rem; margin: 0;" type="submit" value="Retrigger" onclick="return confirm('Are you sure? Retriggering this event group may result in observation requests being sent.');">
        </form>
    {% endif %}
</div>

<table>
    <thead>
        <tr><th colspan=4>Notices</th></tr>
        <tr><th>Received</th><th style="text-align: left;">Stream</th><th style="width: 100%"></th><th colspan="{{ event.noticess.0.decision.factors.all | length }}">Current conditions</th></tr>
    </thead>
    <tbody>
        {% for notice in event.noticess %}
        <tr>
            <td>{{ notice.created | date:"Y-M-d G:i:s e" }}</td>
            <td style="text-align: left"><code>{{ notice.stream.name }}</code> {% if notice.istest %}(Test){% endif %}</td>
            <td><a href="{{ notice.get_absolute_url }}">View notice</a></td>
            <td>{% for factor in notice.decision.factors.all %}
                {{ factor.html }}
            {% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
    </tbody>
</table>

<p></p>

<table>
    <thead>
        <tr><th colspan=4>Decisions</th></tr>
        <tr><th style="width: 15%;">Date</th><th>Source</th><th style="width: 60%;">Historic conditions</th><th style="width: 25%;">Observation</th></tr>
    </thead>
    <tbody>
        {% if event.realdecisions %}
            {% for decision in event.realdecisions %}
            <tr>
                <td>{{ decision.created }}</td>
                <td>{{ decision.get_source_display }}</td>
                <td>{% for factor in decision.factors.all %}{{ factor.html }} {% endfor %}</td>
                <td style="display: flex; justify-content: center; gap: 0 1rem; align-items: center;">{% for obs in decision.observations.all %}
                    <a class="observation-status {{ obs.status }}" title="{{ obs.get_status_display }}" href="{{ obs.get_absolute_url }}">{{ obs.observatory }}</a>
                {% endfor %}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr><td colspan="4" style="text-align: center;">No recorded decisions</td></tr>
        {% endif %}
    </tbody>
</table>
{% endfor %}
{% endblock %}