{% extends "base.html" %}

{% load rules %}

{% block title %}Triggers{% endblock %}

{% block content %}

{% has_perm "tracet.admin_triggers" user as can_admin_triggers %}

<h1>Triggers</h1>

<form action="{% url "triggers" %}" method="post" disabled="{{ can_admin_triggers | yesno:'false,true' }}">
    {% csrf_token %}

    {% with formset=activetriggers label="active" %}
        {% partialdef triggerlist inline %}
            {% for form in formset %}
                {% include "tracet/forms/errors.html" with form=form %}
            {% endfor %}

            <table class="trigger-list left-align" data-trigger-active={{ label }}>
                <thead>
                    <tr><th colspan=7>{{ label | capfirst }}</th></tr>
                    <tr><th class="trigger-handle hidden"></th><th class="field priority">Priority</th><th>Name</th><th>Owner</th><th>Created</th><th>Telescope</th><th>Last attempted observation</th><th class="field active">Active</th></tr>
                </thead>
                <tbody>
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form.errors }}
                    {% with trigger=form.instance %}
                        <tr>
                            <td class="trigger-handle hidden"><i class="fa-solid fa-sort"></i>{{ form.id }}</td>
                            <td class="field priority"><span data-mirror-input="input#id_{{ form.prefix }}-priority"></span>{{ form.priority }}</td>
                            <td><a href="{{ trigger.get_absolute_url }}">{{ trigger.name }}</a></td>
                            <td>{{ trigger.user.username }}</td>
                            <td>{{ trigger.created | date:"Y-M-d" }}</td>
                            <td>{{ trigger.get_telescope.OBSERVATORY | default:"&mdash;" }}</td>
                            {% with obs=trigger.get_last_attempted_observation %}
                                <td>{% if obs is not None %}{{ obs.created | timesince }} ago {% if obs.istest %}(test){% endif %}{% else %}—{% endif %}</td>
                            {% endwith %}
                            <td class="field active">{{ form.active }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="empty-list"><td colspan=7>There are currently no {{ label }} triggers. <a href="{% url 'triggercreate' %}">Create a trigger.</a></td></tr>
                </tbody>
            </table>
        {% endpartialdef %}
    {% endwith %}

    <p></p>

    {% with formset=inactivetriggers label="inactive" %}
        {% partial triggerlist %}
    {% endwith %}

    {% if activetriggers|length or inactivetriggers|length %}
        {% if can_admin_triggers %}
            <input type="submit" value="Update triggers">
        {% endif %}
    {% endif %}
</form>


{% endblock %}