[Unit]
Description=TraceT (GCNListen)
After=tracet.service
WantedBy=tracet.service
PartOf=tracet.service

[Service]
Type=simple
WorkingDirectory=/home/debian/TraceT/deploy
ExecStart=/usr/bin/podman compose --profile prod up --remove-orphans --exit-code-from gcnlisten gcnlisten
ExecStopPost=/usr/bin/podman compose --profile prod stop gcnlisten
Restart=on-failure
RestartSec=5
StandardOutput=append:%h/tracet-systemd/gcnlisten.log
StandardError=inherit

[Install]
WantedBy=default.target
