# To be installed at $HOME/.config/systemd/user/tracet.service
# Then run:
# > systemctl --user daemon-reload
# > systemctl --user enable tracet.service
# > systemctl --user start tracet.service

[Unit]
Description=TraceT (Init)
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/debian/TraceT/deploy

ExecStart=/usr/bin/podman compose --profile prod build
ExecStart=/usr/bin/podman compose --profile prod run gunicorn bash -c "uv run ./manage.py migrate --noinput"
ExecStart=/usr/bin/podman compose --profile prod run gunicorn bash -c "uv run ./manage.py collectstatic --clear --noinput"

# Migrations may take a long time: thus we extend the timeout to 10 minutes
TimeoutStartSec=600
Restart=no
StandardOutput=append:%h/tracet-systemd/init.log
StandardError=inherit

[Install]
WantedBy=default.target
