{% extends "TraceT2App/base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<h1>Events</h1>

<form method="get" style="max-width: 99999px; margin-bottom: 1rem">
    <div style="display: flex; justify-content: space-between; align-items: center; width=100%;">
    {% csrf_token %}
    {{ filter.form.as_div }}
    <input type="submit" value="Filter"></intput>
    </div>
</form>

<table>
    <thead>
        <tr><th>Date</th><th>Stream</th><th>Test</th><th></th></tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr><td>{{ event.created | date:"Y-M-d G:i e" }}</td><td style="text-align: left;"><code>{{ event.stream }}</code></td><td>{% if event.istest %}Test{% else %}Not a test{% endif %}</td><td><a href="{{ event.get_absolute_url }}">View</a></td></tr>
        {% endfor %}
    <tbody></tbody>
</table>

<footer>
{% include "../pagination.html" with page=events %}
<footer></footer>
{% endblock %}