:root {
  --width-content: 1200px;
  --color-ok: #69b764;
  --color-maybe: #ffc156;
  --color-fail: #d82526;
  --color-disabled: grey;

}

nav {
    margin-bottom: 0;
}

main {
    margin-top: 0;
    padding-top: 0;
}

.heading-label, .trigger-active, .trigger-inactive {
    border-radius: 4px 4px 4px 4px;
    text-transform: uppercase;
    padding: 0.2rem 0.5rem;
    color: var(--color-bg);
    font-weight: bold;
    display: inline-block;
    font-size: 0.7rem;

    + h1 {
        margin-top: 0
    }
}

.heading-label {
    background-color: var(--color-table);
}

.trigger-active {
    background-color: var(--color-ok)
}

.trigger-inactive {
    background-color: var(--color-disabled)
}

table {
    display: table;
}

table, thead, tbody {
    width: 100%;
    overflow: hidden;
}

table thead {
    background: none;

    tr {
        color: var(--color-text);
        background: var(--color-accent);
    }
    tr:first-child {
        color: var(--color-bg);
        background: var(--color-table);
    }
}

form, textarea {
    max-width: unset;
}

fieldset:has(input[type="date"][name="created_before"]) {
    border: none;

    legend {
        font-weight: bold;
    }
}

input[type="date"][name="created_before"],
input[type="date"][name="created_after"] {
    display: inline-block;
}

span.vote {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

span.vote.pass {
    background-color: var(--color-ok);
}

span.vote.maybe {
    background-color: var(--color-maybe);
}

span.vote.fail {
    background-color: var(--color-fail);
}

span.vote.error {
    background-color: var(--color-disabled)
}

span.vote.inherited {
    opacity: 0.3;
}

span.gcn-status {
    height: 0.5rem;
    width: 0.5rem;
    margin-bottom: 0.05rem;
    margin-left: 0.2rem;
    border-radius: 50%;
    display: inline-block;
    animation: blinker 1.5s linear infinite;
    overflow: hidden;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

span.gcn-status.ok {
    background-color: var(--color-ok);
    color: var(--color-ok);  /* fallback */
    color: rgba(0, 0, 0, 0);
}

span.gcn-status.fail {
    background-color: var(--color-fail);
    color: var(--color-fail);  /* fallback */
    color: rgba(0, 0, 0, 0);
}
