{% extends "TraceT2App/base.html" %}

{% block title %}Create Trigger{% endblock %}

{% block content %}

<h1>Create a new trigger</h1>

<form action="{% url 'triggercreate' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <fieldset>
        <legend>Conditions</legend>
        {{ rangeformset.management_form }}

        {% for form in rangeformset %}
            {{ form.val1 }} &leq; {{ form.selector }} &lt; {{ form.val2 }}
        {% endfor %}
    </fieldset>
    <input type="submit" value="Create">
</form>
{% endblock %}