{% extends "TraceT2App/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<form id="trigger" action="{{ actionurl }}" method="post">
    {% csrf_token %}
    {{ triggerform }}

    <fieldset>
        <legend>Conditions</legend>

        <div id="conditions">

            {{ rangeformset.management_form }}

            {% for form in rangeformset %}
                <fieldset class="numericrangecondition deleteable transition-opacity">
                    <legend>Numeric range</legend>
                    {{ form }}
                </fieldset>
            {% endfor %}

            <template id="numericrangecondition-template"><fieldset class="numericrangecondition hidden transition-opacity">
                <legend>Numeric range</legend>
                {{ rangeformset.empty_form }}
            </fieldset></template>

            {{ booleanformset.management_form }}

            {% for form in booleanformset %}
                <fieldset class="booleancondition deleteable transition-opacity">
                    <legend>Boolean</legend>
                    {{ form }}
                </fieldset>
            {% endfor %}

            <template id="booleancondition-template"><fieldset class="booleancondition hidden transition-opacity">
                <legend>Numeric range</legend>
                {{ booleanformset.empty_form }}
            </fieldset></template>
        </div>

        <ul>
            <li><a class="fieldset-add" template="numericrangecondition-template" parentnode="conditions" counter="id_{{ rangeformset.prefix }}-TOTAL_FORMS">Add numeric range condition</a></li>
            <li><a class="fieldset-add" template="booleancondition-template" parentnode="conditions" counter="id_{{ booleanformset.prefix }}-TOTAL_FORMS">Add boolean condition</a></li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Telescopes</legend>

        <div id="telescopes">

            {{ mwaformset.management_form }}

            {% for form in mwaformset %}
                <fieldset class="mwa-telescope deleteable transition-opacity">
                    <legend>MWA</legend>
                    {{ form }}
                </fieldset>
            {% endfor %}

            <template id="mwa-telescope-template">
                <fieldset class="mwa-telescope hidden transition-opacity">
                    <legend>MWA</legend>
                    {{ mwaformset.empty_form }}
                </fieldset>
            </template>

            {{ atcaformset.management_form }}

            {% for form in atcaformset %}
                <fieldset class="atca-telescope deleteable transition-opacity">
                    <legend>ATCA</legend>
                    {{ form }}

                    {{ form.nested.management_form }}

                    {% for form in form.nested %}
                        {% include "TraceT2App/forms/errors.html" with form=form %}
                    {% endfor %}

                    <table>
                        <thead>
                            <tr>
                            {% for field in form.nested.empty_form %}
                                {% if not field.is_hidden %}
                                <th>{{ field.label }}</th>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody id="{{ form.nested.prefix }}-PARENT">
                            {% for form in form.nested %}
                            <tr class="atcaband deleteable transition-opacity">
                                {% for field in form %}
                                    {% if field.is_hidden %}
                                        {{ field }}
                                    {% else %}
                                        <td class="field-{{ field.name }}">{{ field }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <template id="{{ form.nested.prefix }}-template"><tr class="atcaband deleteable transition-opacity">
                    {% for field in form.nested.empty_form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            <td class="field-{{ field.name }}">{{ field }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr></template>

                    <ul>
                        <li><a class="fieldset-add" template="{{ form.nested.prefix }}-template" parentnode="{{form.nested.prefix}}-PARENT" counter="id_{{ form.nested.prefix }}-TOTAL_FORMS">Add a band configuration</a></li>
                    </ul>
                </fieldset>
            {% endfor %}

            <template id="atca-telescope-template"><fieldset class="atca-telescope hidden transition-opacity">
                <legend>ATCA</legend>
                {{ atcaformset.empty_form }}
            </fieldset></template>
        </div>

        <ul>
            <li><a class="fieldset-add" template="mwa-telescope-template" parentnode="telescopes" counter="id_{{ mwaformset.prefix }}-TOTAL_FORMS">Add MWA telescope</a></li>
            <li><a class="fieldset-add" template="atca-telescope-template" parentnode="telescopes" counter="id_{{ atcaformset.prefix }}-TOTAL_FORMS">Add ATCA telescope</a></li>
        </ul>
    </fieldset>

    <div class="submits">
        <input type="submit" value="Save">
        {% if trigger.id %}
            <input type="submit" formaction="{% url 'triggerdelete' id=trigger.id %}" value="Delete" onclick="return confirm('Are you sure you want to delete this trigger?')">
        {% endif %}
    </div>
</div>
</form>
{% endblock %}