{% extends "TraceT2App/base.html" %}

{% block title %}Trigger {{ trigger.id }}{% endblock %}

{% block content %}

<h1>Trigger: {{ trigger.name }}</h1>

<p></p><a href="{% url 'triggeredit' id=trigger.id %}">Edit trigger</a><p></p>

<h2>Streams</h2>

<ul>
    {% for stream in trigger.streams.all %}
    <li><code>{{ stream }}</code></li>
    {% endfor %}
</ul>

<p><strong>Group by:</strong> <code>{{ trigger.groupby }}</code></p>

<h2>Metadata</h2>

<ul>
    <li><strong>RA Path:</strong> <code>{{ trigger.ra_path }}</code></li>
    <li><strong>Dec Path:</strong> <code>{{ trigger.dec_path }}</code></li>
    <li><strong>Time Path:</strong> <code>{{ trigger.time_path }}</code></li>
</ul>


<h2>Conditions</h2>

<ul>
    {% for condition in conditions %}
    <li><code>{{ condition }}</code></li>
    {% endfor %}
</ul>

<h2>Archival replay</h2>

{% for event in events %}
<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 1rem;">
    <h3 style="display: inline-block;">Event ID: {{ event.groupid }}</h3>

    <p style="display: inline-block; width: unset;">{{ event.time | date:"Y-M-d G:i:s e" }}</p>

    <form method="post" style="display: inline-block; min-width: unset; padding: 0; border: none;">
        {% csrf_token %}
        {{ event.form }}
        <input style="padding: 0; margin: 0;" type="submit" value="Retrigger" onclick="return confirm('Are you sure? Retriggering this event group may result in observation requests being sent.');">
    </form>
</div>

<table>
    <thead>
        <tr><th>Received</th><th style="text-align: left;">Stream</th><th></th><th colspan="{{ event.noticess.0.decision.factors.all | length }}">Conditions</th></tr>
    </thead>
    <tbody>
        {% for notice in event.noticess %}
        <tr>
            <td>{{ notice.created | date:"Y-M-d G:i e" }}</td>
            <td style="text-align: left"><code>{{ notice.stream.name }}</code> {% if notice.istest %}(Test){% endif %}</td>
            <td><a href="{{ notice.get_absolute_url }}">View notice</a></td>
            {% for factor in notice.decision.factors.all %}
            <td>{{ factor.html }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </tbody>
</table>
{% endfor %}
{% endblock %}