{% load static %}
{% load gcnstatus %}
<!DOCTYPE html>
<html>
<head>
    <title>TraceT | {% block title %}{% endblock %}</title>
    <link href="{% static 'css/mvp.css' %}" rel="stylesheet">
    <link href="{% static 'css/tracet.css' %}" rel="stylesheet">
    <script src="{% static 'js/tracet.js' %}"></script>
</head>

<body>
    <header>
        <nav>
            <div style="display: flex; align-items: center;">
                <img src="{% static 'logo.png' %}" width=60 alt="TraceT Logo">
                <ul style="padding: 0 2rem;">
                    <li>TraceT</li>
                    <li>
                        Notices
                        <ul>
                            <li><a href="{% url 'notices' %}">View all notices</a></li>
                            <li><a href="{% url 'noticecreate' %}">Create test notice</a></li>
                        </ul>
                    </li>
                    <li>
                        Observations
                        <ul>
                            <li><a href="{% url 'observations' %}">View all observations</a></li>
                        </ul>
                    </li>
                    <li>
                        Triggers
                        <ul>
                            <li><a href="{% url 'triggercreate' %}">Create</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
                <ul>
                    <li>{% gcnstatus %}</li>
                    <li>Login</li>
                </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>