{% load query_append %}

<div class="pagination" style="text-align: center">
    <span class="step-links">
        {% if page.has_previous %}
        <a href="?{% query_append request page=page.previous_page_number %}">&lt; Previous</a>
        {% endif %}
        <span class="current">
            &nbsp;&nbsp;[Page {{ page.number }} of {{ page.paginator.num_pages }}]&nbsp;&nbsp;
        </span>
        {% if page.has_next %}
        <a href="?{% query_append request page=page.next_page_number %}">Next &gt;</a>
        {% endif %}
    </span>
</div>