{% extends "base.html" %}

{% load iso8601 %}

{% block title %}Notices{% endblock %}

{% block content %}
<h1>Notices</h1>

<form method="get" style="max-width: 99999px; margin-bottom: 1rem">
    <div style="display: flex; justify-content: space-between; align-items: center; width=100%;">
    {% csrf_token %}
    {{ filter.form.as_div }}
    <input type="submit" value="Filter"></intput>
    </div>
</form>

<table>
    <thead>
        <tr><th>Date</th><th>Stream</th><th>Format</th><th></th></tr>
    </thead>
    <tbody>
        {% for notice in notices %}
            <tr>
                <td>{{ notice.created | iso8601 }}</td>
                <td style="text-align: left;"><code>{{ notice.stream }}</code></td>
                <td><code>{{ notice.stream.get_type_display }}</code></td>
                <td><a href="{{ notice.get_absolute_url }}">View</a></td>
            </tr>
        {% endfor %}
    <tbody></tbody>
</table>

<footer>
{% include "../pagination.html" with page=notices %}
</footer>
{% endblock %}