{% extends "base.html" %}

{% load iso8601 %}

{% block title %}Observation {{ observation.id }}{% endblock %}

{% block content %}
<h1>Observation {{ observation.id }}</h1>

<table class="left-align">
    <tr><th>Created</th><td>{{ observation.created | iso8601 }}</td></tr>
    <tr><th>Finish</th><td>{{ observation.finish | iso8601 }}</td></tr>
    <tr><th>Trigger</th><td><a href="{{ observation.decision.event.trigger.get_absolute_url }}">{{ observation.decision.event.trigger.name }}</a></td></tr>
    <tr><th>Event</th><td><a href="{{ observation.decision.event.get_absolute_url }}">{{ observation.decision.event.eventid }}</a></td></tr>
    <tr><th>Observatory</th><td>{{ observation.observatory }}</td></tr>
    <tr><th>Configuration</th><td>{{ observation.configuration | default:"&mdash;" }}</td></tr>
    <tr>
        <th>Pointing(s)</th>
        <td>
            {% for p in observation.pointings %}
                ({{ p.ra.deg | floatformat:3 }}&deg;, {{ p.dec.deg | floatformat:3 }}&deg;)
            {% empty %}
                &mdash;
            {% endfor %}
        </td>
    </tr>
    <tr><th>Status</th><td>{{ observation.get_status_display }}</td></tr>
    <tr><th>Is test</th><td>{{ observation.get_istest_display }}</td></tr>
</table>

<h2>Log</h2>

<pre style="max-width: unset;"><samp style="max-width: unset; overflow: scroll;">{{ observation.log }}</samp></pre>


{% endblock %}