{% extends "base.html" %}

{% block title %}Observations{% endblock %}

{% block content %}
<h1>Observations</h1>

<form method="get" style="max-width: 99999px; margin-bottom: 1rem">
    <div style="display: flex; gap: 0 2rem; align-items: center; width=100%;">
    {% csrf_token %}
    {{ filter.form.as_div }}
    <input type="submit" value="Filter"></intput>
    </div>
</form>

<table>
    <thead>
        <tr><th>Start</th><th>End</th><th>Trigger</th><th>Event ID</th><th>Observatory</th><th>Status</th><th>Log</th></tr>
    </thead>
    <tbody>
        {% for observation in observations %}
        <tr>
            <td>{{ observation.created | date:"Y-M-d G:i e" }}</td>
            <td style="text-align: left;">{{ observation.finish | date:"Y-M-d G:i e" }}</td>
            <td><a href="{{ observation.decision.event.trigger.get_absolute_url }}">{{ observation.decision.event.trigger.name }}</a></td>
            <td>{{ observation.decision.event.groupid }}</td>
            <td>{{ observation.observatory }}</td>
            <td>{{ observation.get_status_display }}{% if observation.istest %} (Test){% endif %}</td>
            <td><a href="{{ observation.get_absolute_url }}">View</a></td>
        </tr>
        {% endfor %}
    <tbody></tbody>
</table>

<footer>
{% include "../pagination.html" with page=observations %}
<footer></footer>
{% endblock %}