{% extends "base.html" %}

{% load iso8601 %}

{% block title %}Observations{% endblock %}

{% block content %}
<h1>Observations</h1>

<form method="get" style="max-width: 99999px; margin-bottom: 1rem">
    <div style="display: flex; gap: 0 2rem; align-items: center; width=100%;">
    {% csrf_token %}
    {{ filter.form.as_div }}
    <input type="submit" value="Filter"></intput>
    </div>
</form>

<table class="left-align">
    <thead>
        <tr><th>Created</th><th>Trigger</th><th>Event ID</th><th>Observatory</th><th>Config</th></th><th>Status</th><th>Log</th></tr>
    </thead>
    <tbody>
        {% for observation in observations %}
            {% with event=observation.decision.event trigger=observation.decision.event.trigger %}
                <tr>
                    <td><code>{{ observation.created | iso8601 }}</code></td>
                    <td><a href="{{trigger.get_absolute_url }}">{{ trigger.name }}</a></td>
                    <td>
                        <a href="{{ event.get_absolute_url }}">{{ event.groupid }}</a></td>
                    <td>{{ observation.observatory }}</td>
                    <td>{{ observation.configuration | default:"&mdash;" }}</td>
                    <td>
                        <a class="observation-status {{ observation.status }}" title="{{ observation.get_status_display }}" href="{{ observation.get_absolute_url }}">
                            {{ observation.get_status_display }}
                        </a> {{ observation.istest | yesno:"(Test)," }}
                    </td>
                    <td><a href="{{ observation.get_absolute_url }}">View</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
    <tbody></tbody>
</table>

<footer>
{% include "../pagination.html" with page=observations %}
<footer></footer>
{% endblock %}